@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* font-family: 'Lato', sans-serif; */

* {
  /* basic configurations */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #edede8;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(38, 158, 158);
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* Top and bottom margin */
}

img {
  width: 100%;
}

p {
  margin: 0 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

/* App styles */

.title {
  width: 35%;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin: 1em auto;
  padding-bottom: 0.1em;
  border-bottom: 5px solid rgba(0, 0, 0, 0.35);
}

.copy {
  text-align: center;
  font-style: italic;
}

.options-wrapper {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.options {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  margin: 0 1em;
  background-color: #fff1e6;
}

.options-text {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
}

.options-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-value-text {
  font-weight: 700;
  font-size: 1.5em;
}

.display {
  width: 50%;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.25);
  border-radius: 2em;
  background-color: #fff1e6;
}

.display-mode {
  font-size: 1.25em;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
}

.display-value {
  font-size: 1.5em;
  font-weight: 700;
}

.controls {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: #e8d1c5;
  border-radius: 1em;
  padding: 0.75em;
  margin: 1em auto;
}

.icon {
  color: rgba(0, 0, 0, 0.75);
}

.icon:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.icon:active {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.1);
}

